.home-page {
    background-color: aliceblue;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 3vh;
    width:120%;    

   
}

.project-page {
    background-color: aliceblue;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 3vh;
    width:120%;    

   
}

.artwork-page {
    background-color: aliceblue;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 3vh;
    width:120%;    

   
}

.about-page {
    background-color: aliceblue;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 3vh;
    width:120%;    

   
}

.contact-page {
    background-color: aliceblue;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 3vh;
    width:120%;    

   
}

.shortcut-page {
    margin-top: 65vh;
    background-color: aliceblue;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 3vh;
    width:120%;    

   
}